.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header {
  display: block;
  padding:20px;
  background-color: rgb(80, 80, 251);
}
.Header-text-title {
  padding:20px;
  text-align:left;
}
.Header-text-statistics {
  padding:20px;
  text-align:right;
}
.Header-text-categories {
  padding:20px;
  text-align:right;
}
.Header-text-logout {
  padding:20px;
  text-align:right;
}
.Article {
  display: inline-block;
  max-width:540px;
  border-style: outset;
  background-color: rgb(201, 201, 201);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.Category {
  display: inline-block;
  border-style: outset;
  background-color: rgb(231, 231, 231);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.Categories-button {
  display: inline-block;
  border-style: outset;
  background-color: rgb(231, 231, 231);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
